.App {
  padding: 10px;
}

h2 {
  text-align: center;
}

.SearchBar {
  text-align: center;
}

.SearchResults {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}
.ResultEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 200px;
    font-weight: bold;
    position:relative;
}

.elTitle {
  align-self: stretch;
  padding-left:17px;
  margin-bottom: 0;
}

.pagination {
  text-align: center;
  display:block;
  overflow:hidden;
  margin: 0 auto;
}
.totalEl {
  font-size:smaller;
  padding-top:5px;
}
.fav {
  position: absolute;
  right: 30px;
  top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #EC644B;
  filter: drop-shadow(1px 1px 4px #4444dd);
  cursor: pointer;
  padding: 0 3px;
  display: none;
  border:1px solid #EC644B;
  border-radius: 50%;
}

.prodPic:hover .fav, .shown {
  display:block;
}

.hidden {
  display: none;
}
